@media (min-width: 375px) {
  form {
    display: flex;
    flex-direction: column;

    padding: 20px;

    gap: 20px;
  }
  form input {
    padding: 10px;

    border: 1px solid gray;

    border-radius: 5px;

    width: 300px;

    margin: auto;
  }

  .submit_input {
    padding: 15px;
  }
  .form_container {
    display: flex;
    flex-direction: column;

    max-width: 500px;

    margin: auto;

    height: 100vh;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .logIn_link {
    margin-top: 0;
  }
  .error_msg {
    text-align: left;
    color: red;
  }
}
