.dashboard_container {
  padding: 15px;
}
.dashboard_header {
  margin-top: 100px;
}

.orders_container {
  border: 1px solid black;
  border-radius: 10px;
}

.orders_wrapper {
  display: grid;
}

@media (min-width: 320px) {
  .dashTitle {
    font-size: 15px;
  }
  .orders_wrapper {
    grid-template-columns: 1fr;

    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .dashTitle {
    font-size: 30px;
  }
  .dashboard_container {
    height: 100dvh;
  }
}
