@media (min-width: 375px) {
  .hero_image_container {
    display: grid;
    grid-template-columns: 1fr;

    color: rgb(138, 43, 226);

    border: 1px groove white;

    height: 100vh;

    position: relative;
  }
  .hero_container button {
    padding: 20px;

    width: 200px;

    font-size: 20px;

    text-transform: capitalize;

    border-radius: 40px;
    border: 0px;

    cursor: pointer;

    background-color: rgb(167, 90, 242);

    color: white;
  }
  .hero_container button:hover {
    background-color: rgb(138, 43, 226);
  }
  .hero_content_container {
    position: absolute;

    justify-self: center;
    align-self: center;
  }
}
