@media (min-width: 375px) {
  @keyframes color-change {
    0% {
      color: rgb(132, 0, 255);
    }
    50% {
      color: red;
    }
    100% {
      color: green;
    }
  }
  .offersButton {
    animation: color-change 1s infinite;

    font-weight: bold;
  }
  .topNav {
    position: fixed;

    top: 0;

    margin: 0;
    padding: 0;

    background-color: #fff;

    width: 100%;

    border-bottom: 1px groove gray;

    z-index: 1000;
  }

  .searchLogo_list {
    grid-column: 2 / span 2;
  }
  .menu_btns {
    grid-column: 5/6;
  }

  .navItm_container {
    display: none;

    grid-row: 3/4;
    grid-column: 1 / span 5;

    width: 100%;

    margin-top: 20px;
  }

  .dropdownIcon::before {
    content: "";

    position: absolute;

    top: 13px;
    left: 65%;

    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    border: solid transparent;
    border-color: rgba(205, 209, 213, 0);
    border-top-color: #cdd1d5;
    border-width: 0.5rem;
  }

  .logo_li {
    list-style: none;
  }

  .submenu li {
    border-bottom: 1px solid blueviolet;
  }

  .header_ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    text-transform: uppercase;

    list-style-type: none;

    padding-left: 0;
  }
  .burger_btn {
    display: block;
  }
  .close_btn {
    display: none;
  }
  .nav_link {
    position: relative;

    margin-top: 35px;

    grid-row: 3/4;

    display: none;

    width: 100%;
  }

  .cart_amount {
    position: absolute;

    border: 1px solid white;
    border-radius: 100%;

    padding: 1px 5px;

    background-color: blueviolet;

    color: white;
  }

  .cart_list {
    position: relative;

    grid-column: 4 / 5;
  }
  a {
    text-decoration: none;
  }
  li {
    margin: auto;
  }
  .header_logo {
    font-size: 30px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;

    color: blueviolet;
  }
  .searchBar_list {
    grid-row: 2/3;
    grid-column: 1 / span 5;

    display: none;
  }
  .searchBar_header {
    margin-top: 20px;

    padding: 15px;
    width: 150px;

    border-radius: 30px;
    border: 1px solid blueviolet;
  }
  .searchBar_header::placeholder {
    color: blueviolet;
  }
  .submenu_container {
    position: relative;

    display: flex;
  }
  .submenu {
    width: 100%;
  }

  .submenu_container ul {
    position: relative;

    left: 50%;

    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    list-style: none;

    font-size: larger;

    padding: 0;

    margin: 0;

    border: 1px solid rgb(167, 90, 242);

    justify-content: center;

    background-color: rgb(203, 148, 255);

    color: #404040;

    min-width: 150px;

    z-index: 999999;
  }
  .submenu_container ul a {
    color: #404040;
  }

  .submenu_container li {
    width: 100%;

    text-align: center;

    height: 35px;

    font-size: 16px;

    text-align: center;

    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .menu_btns {
    display: none;
  }
  .cart_list {
    grid-column: 7/8;
  }

  .searchBar_list {
    grid-row: 1/2;
    grid-column: 2/3;

    display: block;

    margin: auto;
  }
  .header_ul {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;

    text-transform: uppercase;

    list-style-type: none;
  }
  .searchLogo_list {
    display: none;
  }
  input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .nav_link {
    display: block;

    margin: auto;

    grid-row: 1/2;
  }
  .searchBar_header {
    margin-top: 0;
  }

  .submenu_link:hover {
    background-color: rgb(167, 90, 242);
    color: white;
  }

  .logo_li {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .navItm_container {
    display: flex;
    flex-direction: row;

    margin-top: 0;

    grid-row: 1/2;
    grid-column: 3 / span 4;
  }

  .dropdownIcon::before {
    left: 90%;
  }
  .submenu_container {
    position: relative;
  }
  .submenu_container .submenu {
    position: absolute;

    z-index: 1;
  }
}
