.App {
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.gridWrapper {
  display: grid;

  width: 80%;

  gap: 20px;

  padding: 15px;

  margin: auto;
}
.page_wrapper .title {
  padding-top: 100px;

  text-transform: capitalize;
}

@media (min-width: 320px) {
  .product_item {
    width: 180px;
    height: 390px;
  }
  .products_wrapper h1 {
    text-transform: capitalize;

    color: rgb(167, 90, 242);
  }
  .gridWrapper {
    grid-template-columns: 1fr;
  }
  .homepage {
    padding-bottom: 0;
  }
  .cart_card {
    position: relative;

    border: 1px solid gray;
    border-radius: 10px;

    padding: 20px;

    top: 50%;
  }
  .img_position {
    width: 120px;
    height: 120px;

    border: 1px solid gray;
    border-radius: 10px;

    background-size: cover;
  }
  .content_info {
    color: #282c34;
  }
  .amount_container {
    border-radius: 10px;
    border: 1px solid gray;

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;

    padding: 10px;

    width: max-content;

    margin: auto;
  }
  .amount_container > button {
    border: 0px;

    background-color: transparent;

    font-size: 15px;
  }
  .amount_container_wrapper {
    display: flex;
    flex-direction: row;

    gap: 20px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
  }

  .big_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
  }
  .subtotal_container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  .checkout_container {
    display: flex;
    flex-direction: column;

    padding: 20px 0;
  }

  .checkout_container button {
    padding: 20px;

    font-size: 25px;
    text-transform: capitalize;

    border: 0;
    border-radius: 10px;

    color: white;

    margin: auto;

    width: 100%;

    background-color: rgb(167, 90, 242);

    cursor: pointer;
  }
  .amount_container button {
    cursor: pointer;
  }

  .checkout_container button:hover {
    background-color: rgb(138, 43, 226);
  }
  .checkout_container button:disabled {
    background-color: rgb(203, 148, 255);

    color: #f2f2f2;

    border: 1px solid #bfbfbf;

    cursor: not-allowed;
  }
  .optionsBtn_container {
    margin: 20px 0;

    text-transform: uppercase;
  }
  .maxReached_container {
    position: absolute;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    width: 200px;
    height: 150px;

    background-color: purple;
    color: white;

    padding: 10px;
  }
  .maxReached_message {
    display: flex;

    justify-self: center;
    align-items: center;

    height: 70%;
  }
  .delete_message_container {
    position: absolute;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    width: 200px;
    height: 200px;

    background-color: purple;
    color: white;

    padding: 10px;
  }
  .deleteButtons_container {
    display: flex;

    gap: 20px;

    justify-content: center;
  }
  .deleteButtons_container > button {
    padding: 15px;

    border: 0px;
    border-radius: 10px;
  }
  .deleteButtons_container > button:hover {
    background-color: rgb(138, 43, 226);

    cursor: pointer;
  }
  .active_page {
    color: lightgray;
  }
  .cart_container {
    min-height: 100vh;

    width: 100%;

    margin: 100px auto;
  }
}
@media (min-width: 500px) {
  .gridWrapper {
    grid-template-columns: repeat(2, auto);

    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .gridWrapper {
    grid-template-columns: repeat(3, auto);

    justify-content: center;
  }

  .product_paymentInfo button:hover {
    background-color: rgb(138, 43, 226);
  }

  .product_img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 308px;
    height: 200px;
  }

  .secondImgHover {
    display: flex;
    color: black;

    width: 100%;
    height: 200px;

    margin: auto;

    justify-content: center;
    align-items: center;
  }

  .secondImgHover span {
    text-transform: uppercase;

    font-weight: bold;
  }
  .checkout_container button {
    width: 40%;
  }
  .cart_container {
    width: 60%;
  }
}
.prodInfoText {
  display: none;
}

s {
  color: #888;
  margin-left: 10px;
  font-size: 0.9em;
}
.ratingValue {
  color: rgb(63, 0, 122);
}

.hairDryPage h1 {
  text-transform: capitalize;
}

.product_item {
  display: grid;
  grid-template-columns: 1fr;

  border: 1px solid #bfbfbf;

  border-radius: 10px;

  padding: 20px 5px 10px 5px;

  margin: auto;

  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.products_container h3 {
  color: rgb(120, 75, 160);

  text-transform: uppercase;
}
.product_info {
  justify-self: center;

  color: rgb(138, 43, 226);

  height: 150px;
}

.product_paymentInfo p {
  color: black;
}
.product_img {
  width: 120px;
  height: 120px;

  border-radius: 10px;

  background-size: cover;

  margin: auto;
}
.product_paymentInfo {
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
}

.product_paymentInfo button {
  width: 100px;
  height: 50px;

  grid-row: 3/4;

  background-color: rgb(167, 90, 242);

  border: 0px;
  border-radius: 10px;

  color: white;

  margin: auto auto 0 auto;

  cursor: pointer;
}
.product_paymentInfo button:disabled {
  background-color: rgb(203, 148, 255);
  color: #f2f2f2;
  border: 1px solid #bfbfbf;
  cursor: not-allowed;
}

.products_wrapper {
  padding: 10px;

  margin-top: 70px;
}
